---
import BaseLayout from '@layouts/BaseLayout.astro';
import { business } from '@config/business';
import Section from "@components/ui/Section.astro";
import Button from "@components/ui/Button.astro";
---

<BaseLayout title={business.seo.title}>
  <main>
    <Section>
      <p>{business.tagline}</p>

      <h1>{business.name}</h1>

      <p>{business.seo.description}</p>

      <Button href="/contact">
        Get in touch
      </Button>
    </Section>
  </main>
</BaseLayout>